.status {
  display: inline-block;
  padding: 0.4rem;
  background: rgba(255,85,85, 0.2);
  border: 1px solid #ff5555;
  border-radius: 0.4rem;
}

.status.success {
  background: rgba(152, 236, 101, 0.2);
  border-color: #98ec65;
}